<div class="card sm:max-w-sm max-w-xs rounded-xl p-8 bg-cardBg space-y-4" style="box-shadow: aliceblue;">
  <div>
    <div class="cursor-pointer container">
      <img class="rounded-md image" src="assets/image-equilibrium.jpg" width="604" height="604">
      <div class="overlay">
      </div>
      <img class="icon" src="assets/icon-view.svg">
    </div>
  </div>
  <div class="text-white hover:text-primaryCyan cursor-pointer font-semibold">
    Equilibrium #3429
  </div>
  <div class="text-primaryBlue">
    Our Equilibrium collection promotes balance and calm.
  </div>
  <div class="flex justify-between font-light">
    <div class="flex space-x-2 items-center">
     <div>
       <img src="assets/icon-ethereum.svg">
     </div>
     <div class="text-primaryCyan">
       0.041ETH
     </div>
    </div>
    <div class="flex space-x-2 text-primaryBlue items-center">
      <div>
        <img src="assets/icon-clock.svg">
      </div>
      <div>
        3 days left
      </div>
    </div>
  </div>
  <div class="border-t-2 pt-4 border-line text-primaryBlue">
    <div class="flex space-x-2 items-center">
      <div class="border-2 rounded-full">
        <img src="assets/image-avatar.png" width="32px" height="32px">
      </div>
    <div class="font-light">
      Creation of <span class="font-semibold text-white cursor-pointer hover:text-primaryCyan">Jules Wyvern</span>
    </div>
    </div>
  </div>
</div>
